img {
    margin-top:30px;
    border:onset 3px #737CA1;
    max-width: 600px;
    align-self: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(58, 58, 58);

    
}
a {
    text-decoration: underline;
    font-style: oblique;
    color:rgb(96, 64, 224);
}
h1 {
    text-align: center;
    margin-top: 80px;
    color: #FAF0CA;
    text-shadow:1px 2px 2px black;
    font-size: 200%;
}
body {
    display:flex;
    flex-direction: column;
    background-color:#9090C0;
    font-family: 'Roboto Condensed', sans-serif;
}
div {
    margin-top: 20px;
    display: flex;
    width: 600px;
    align-self: center;
    justify-content: space-around;
}
div p {
    border:solid thin;
    padding:11px;
    background-color:#C5D5E4;
    box-shadow: 2px 2px 2px grey;
    border-radius: 10px;

   
}
section{
    padding: 30px;
    width:70%;
    max-height:600px;
    overflow:scroll;
    border:solid thin;
    align-self: center;
    position: absolute;
    background-color: red;
    margin-bottom:20px;
    background-color: #F4D35E;
    line-height: 25px;
    visibility: hidden;
    margin-top: 20px;
}
h2 {
    text-align: center;
    margin-bottom:40px;
    text-shadow:1px 2px 2px grey;
}
h2:nth-child(1):hover, h1:hover {
    color: rgb(31, 145, 237);
    cursor: pointer;

}

h3 {
    text-align: center;
    border:solid thin 2px;
    width: 200px;
    color:#fffff0;
    position: absolute;
    top: 50px;
    text-shadow: 1px 2px 1px black;
}
div p:hover {
    color: rgb(11, 34, 184);
    box-shadow: 5px 5px 5px grey;
    cursor: pointer;
}
section p:hover, li:hover {
    color: #836303;
    border-bottom: dotted 2px white;
    border-top: dotted 2px white;
    
}
section p, li {
    padding:15px;
    text-wrap: wrap;
    white-space: normal;
}
